/data_sets/mnist_test.csv
/data_sets/mnist_train.csv
/.ipynb_checkpoints/Day_1-checkpoint.ipynb
/data_sets/.ipynb_checkpoints/mnist_test-checkpoint.csv
/data_sets/.ipynb_checkpoints/mnist_train-checkpoint.csv
/.ipynb_checkpoints/Day_2-checkpoint.ipynb
